p {
    background-color: beige;
}

a {
    background-color: rgb(246, 246, 105);
}

div {
    background-color: rgb(198, 198, 33);
}

span {
    background-color: rgb(101, 101, 11);
}

a {
    background-color: rgb(113, 113, 68);
}